@page "/Trials"
@inherits TrialsBase
<h3>Trials</h3>

@if (LoadingData)
{
    <p >loading...</p>
}
else
{
    <p> notloadng</p>
    @foreach (var exp in ViewModel.Experiments)
    {
        <NavLink href=@($"/trials/{exp.ExperimentId}") Match=NavLinkMatch.All>@exp.Name</NavLink> 
    }
}

